@font-face{
	font-family: "dusha_plusregular";
	src: url("https://www.fifa.com/css/fonts/dusha-regular.eot");
	src:local("☺"),url("https://www.fifa.com/css/fonts/dusha-regular.eot#iefix") format("embedded-opentype"),url("https://www.fifa.com/css/fonts/dusha-regular.woff") format("woff"),url("https://www.fifa.com/css/fonts/dusha-regular.ttf") format("truetype"),url("https://www.fifa.com/css/fonts/dusha-regular.svg#svgFontName") format("svg")
}

@media (min-width: 901px) {
	#comeon{
		font-size: 100px;
	}
}

@media (max-width: 900px) {
	#comeon{
		visibility: hidden;	
	}
}

body{
	background: #bcd5ff;
	font-family: "dusha_plusregular";
}

a, a:hover, a:visited {
	text-decoration: none;
}

.logo{
	display: inline-block;
	height:70px;
}

.unorlist{
	display: inline-block;
}

.flag{
	margin: 20px;
}

.flag-container{
	margin: auto;
}

ul{
	margin: 0px;
}

li{
	margin: 15px;
	display: inline-block;
	font-size: 21px;
}

.group-container{
	text-align: center;
	background: #aeccfc;
	border: 1px solid grey;
}

.group-container:hover{
	opacity:0.3;
}

.group-container:active{
	background: #0d5ee0;
}

.menu-wrapper{
	background: #a2c4f9;
	text-align:center;
	padding: 0px;
	width: 1364px;
}

#main-image{
	height: 595px;
	position: relative;
    text-align: center;
}

#myimage{
	width: 1364px;
}

h1{
	margin-left: 60px;
	margin-top:50px;
	font-size: 60px;
}

#comeon{
	display: fixed;
	position: absolute;
	color: white;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table, th, td {
	margin: 30px;
	font-size: 40px;
    border: 1px solid black;
    border-collapse: collapse;
}

table{
	width:1200px;
	margin: auto;
	margin-top: 50px;
}

td, th{
	text-align: center;
}

.first-col{
	text-align: left;
	padding-left: 10px;
}

.table-img{
	width: 50px;
	margin-bottom: 8px;
	margin-left: 15px;
	margin-right: 30px;
}

.rank-one{
	margin-left: 22px;
}

.num-one{
	margin-left:5px;
}